---
layout: default
title: 分类归档
---
<div id="box" class="clearfix">
{% for categorie in site.categories %} 
  <a href="{{ BASE_PATH }}/category.html#{{ categorie[0] }}-ref">
    {{ categorie[0] | join: "/" }} <span>({{ categorie[1].size }})</span>
  </a> &nbsp;&nbsp;&nbsp;&nbsp;
{% endfor %}
</div>
<br/>

{% for categorie in site.categories %} 
  <h2 id="{{ categorie[0] }}-ref">{{ categorie[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = categorie[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
          {% if page.url == node.url %}
          <li class="active" ><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
          {% else %}
          <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
        <br/>
{% endfor %}
