---
layout: default
---
<div class="post">	
	<h1> {{page.title}} </h1>
	<span class="date"><small>{{ page.date | date:"%B %d, %Y" }}</small></span>
	{{ content }}
	<br/><br/>
	<span style="float:left"><a href="{{ page.previous.url }}" >{{ page.previous.title }}</a></span>
	<span style="float:right"><a href="{{ page.next.url }}" >{{ page.next.title }}</a></span>
	<br/><br/>
</div>
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:10,picSize:84,textHeight:45};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1976509"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
	<input type="button" class="btn" id="btn" value="点击显示评论" onclick="btn()"/>
	<div  class="ds-thread" id="ds-thread" style="display:none" ></div>
<script type="text/javascript">
var btn1=document.getElementById('btn');
var box1=document.getElementById('ds-thread');
function btn(){ if(btn1.value=="点击隐藏评论"){box1.style.display='none';btn1.value="点击显示评论";
	}else{box1.style.display='';btn1.value="点击隐藏评论";
}
}
</script>

